@model PROJ1.Models.Question

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Question Details</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Question1)</th>
                                    <td>@Html.DisplayFor(model => model.Question1)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Answer)</th>
                                    <td>@Html.DisplayFor(model => model.Answer)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Option1)</th>
                                    <td>@Html.DisplayFor(model => model.Option1)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Option2)</th>
                                    <td>@Html.DisplayFor(model => model.Option2)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Option3)</th>
                                    <td>@Html.DisplayFor(model => model.Option3)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Option4)</th>
                                    <td>@Html.DisplayFor(model => model.Option4)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning mr-2">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
